<div class="shadow p-120">
<form method="POST" enctype="multipart/form-data" action="add-annual-event" class="t-c">
    <div class="form-group w-100 mt-20">
        <input type="text" class="mt-1 bottom-line w-100" id="exampleInputPassword1" placeholder="Tiêu đề sự kiện" name="title">
    </div>
    <div class="form-group purple-border mt-4">
        <textarea class="  textarea-2 w-100 t-c pb-3 overflow bottom-line" id="exampleFormControlTextarea4" rows="8" name="description">Mô tả sự kiện</textarea>
    </div>
    <div class="mt-4">
        <input type="text"  class="mt-1 bottom-line w-100" id="exampleInputPassword1" placeholder="Liên kết sự kiện" name="video_id">
    </div>
    <div class="flex-align-center">
        <input type="submit" class="mt-4 button flex-align-center button-width" value="Thêm mới sự kiện hàng năm"/>
    </div>
</form>
</div>